<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216880362138-l5n3bp48jio46gk91rtna29ndev3fa1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216880362138-l5n3bp48jio46gk91rtna29ndev3fa1a</string>
	<key>API_KEY</key>
	<string>AIzaSyAKUZZJbyGk86nM_Md2W21gm15HWRksvIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>216880362138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newtLife</string>
	<key>PROJECT_ID</key>
	<string>newt-life</string>
	<key>STORAGE_BUCKET</key>
	<string>newt-life.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216880362138:ios:00b5128896c377f591a523</string>
</dict>
</plist>